doctype html
html.h-full.bg-white
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://kit.fontawesome.com/3323d69e57.js", crossorigin="anonymous")
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
  body.h-full
    block content
